%section
%header
  %h1 Comments (#{@comments.all.length})
%br
- if @comments && !@comments.empty?
  %section
  .table-responsive
    %table.table.well
      %thead
        %tr
          %th #
          %th Submitter
          %th Comment
          %th Event
          %th Conference
          %th Post Date
        - @comments.each_with_index do |comment, index|
          %tbody
            %tr
              %td= index + 1
              - if comment.user
                %td= link_to comment.user.name
              - else
                %td Unknown Submitter
              %td= link_to h(truncate(comment.body, :length => 150)), admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable_id)
              %td= link_to comment.commentable.title, admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable)
              %td= link_to comment.commentable.conference.title, admin_conference_path(comment.commentable.conference.short_title)
              %td= comment.created_at
- else
  %h5.text-warning.text-center
    No comments!
