<<<<<<< HEAD
<<<<<<< HEAD
- @posted_comments.each do |conference, events|
  .well
    %p.h4= conference.title
    - events.each do |event, comments|
      %h3.title
        = link_to event.title, admin_conference_event_path(event.conference.short_title, event)
      %body
        - comments.each do |comment|
          %hr
          %ul.list-unstyled
            %ul.list-inline
              %li
                %h5.strong Posted by: #{comment.user.name}
              %li
                %h5.strong Created at: #{comment.created_at}
            %li= comment.body
=======
=======
%h1 Comments (#{posted_comments(current_user).length})
%br
>>>>>>> 75da0a5... refactor & add improvements to partials of comment notifications
- if @posted_comments && !@posted_comments.empty?
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th Your Comments
          %th Event
          %th Conference
          %th Post Date
        - @posted_comments.each_with_index do |comment, index|
          %tbody
            %tr
              %td= index + 1
              %td= link_to h(truncate(comment.body, :length => 150)), admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable_id)
              %td= link_to comment.commentable.title, admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable)
              %td= link_to comment.commentable.conference.title, admin_conference_path(comment.commentable.conference.short_title)
              %td= comment.created_at
- else
  %h5.text-warning.text-center
    No comments!
>>>>>>> fd5f980... add comments partials (unread, all, posted) to comments tab panes view
