!!!
%html
  %head
    %meta{ charset: 'utf-8' }
  %css
    %header
    %title { 'Notification E-Mail about a comment' }
  %body
    %p
    %div#comment.body
      %p
      %h3= "Hi there #{:name}"
    %div
      %p= "You have a new comment for event: #{@event.title}"
      %br
    %div= "Comment by #{:name}"
    %p
      %i= @comment.body
    %p To see and reply to this comment, please go to 
    = link_to @event.title, admin_conference_event_url(@conference.short_title, @event)
